<% if (page.comments){ %>
<div id="container"></div>
<link rel="stylesheet" href="<%- config.root %>gitment/default.css">
<script src="<%- config.root %>gitment/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: "<%= item.title %>",
  title: "<%= item.title %>",
  link: decodeURI(document.location.href),
  owner: 'f111fei',
  repo: 'f111fei.github.com',
  oauth: {
    client_id: '10e2568a0d109a36cf4a',
    client_secret: '1efa6427d0195662eee34b01136139fe7ba41817',
  },
})
gitment.render('container')
</script>
<% } %>